<div id="footer">
  <div class="container-fluid">
    <p class="pull-left">&copy; Christopher Klein
    </p>
    <div style="margin-left: 45%; bottom: 10px;">
      <div class="social-icons">
        <a href="https://github.com/ckleinastro" alt="f200" class="genericon genericon-github hidden-xs"></a>
      </div>
      <div class="social-icons">
        <a href="https://twitter.com/ckleinastro" alt="f202" class="genericon genericon-twitter hidden-xs"></a>
      </div>
      <div class="social-icons">
        <a href="http://www.linkedin.com/in/crklein"
           alt="f207" class="genericon genericon-linkedin hidden-xs"></a>
      </div>
    </div>
  </div>
</div>
