{% extends "layout/base.html" %}

{% block content %}
    <div id="wrap">
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                    <img src="{{ url_for('static', filename='cklein_pic_small.jpg') }}"
                         class="img-responsive" height="300px" width="300px"/>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                    <h1 class="text-justify text-muted">Christopher Klein</h1>
                    <p class="lead">I finished up my PhD in Astrophysics at UC Berkeley this past May. I was studying RR Lyrae pulsating variable stars to precisely calibrate their period-magnitude relations and then use these stars to map the Milky Way and our neighboring galaxies. You can grab my dissertation (PDF, 58 MB) <a href="http://astro.berkeley.edu/~cklein/dissertation.pdf">here</a>.</p>
                    <p class="lead">I'm now a fellow at <a href="http://www.insightdatascience.com">Insight Data Science</a>. I'm very excited to be pivoting from academic research into a Data Science career where I can apply my data analysis, statistics, programming, machine learning, and hacking skills to make an impact solving real-world problems.</p>
                    <p class="lead">By the way, here's the <a href="https://github.com/ckleinastro/WhatsForDinner">github repo</a> for this webapp.</p>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52132540-1', 'whatsfordinner.us');
  ga('send', 'pageview');

</script>

{% endblock %}

{% block footer %}
    {% include "include/footer.html" %}
{% endblock %}
