{% extends "layout/base.html" %}

{% block content %}
    <div id="wrap">
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                    <img src="{{ url_for('static', filename='cklein_pic_small.jpg') }}"
                         class="img-responsive" height="300px" width="300px"/>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                    <h1 class="text-justify text-muted">Christopher Klein</h1>
                    <p class="lead">I finished up my PhD in Astrophysics at UC Berkeley this past May. I was studying RR Lyrae pulsating variable stars to precisely calibrate their period-magnitude relations and then use these stars to map the Milky Way and our neighboring galaxies. You can grab my dissertation (PDF, 58 MB) <a href="http://astro.berkeley.edu/~cklein/dissertation.pdf">here</a>.</p>
                    <p class="lead">I'm now a fellow at <a href="http://www.insightdatascience.com">Insight Data Science</a>. I'm very excited to be pivoting from academic research into a Data Science career where I can apply my data analysis, statistics, programming, machine learning, and hacking skills to make an impact solving real-world problems.</p>
                    </div>
                    <div class="col-md-1">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include "include/footer.html" %}
{% endblock %}
