{% extends "layout/base.html" %}

{% block head %}
<style>
    body {
        overflow-y: auto;
    }
    #top {
        margin-top: 60px;
    }
</style>

<style>
  .bottom-three {
     margin-top: 0.5cm;
  }
</style>

<style>
    .form-small .control-label {
        width: 154px;
    }
</style>

<style>
    .jumbotron-special{
        width:100%;
        height: 340px;
        background-color:#E0F0FF;
        padding:0px;
        margin:0px;
        opacity: 0.7;
        text-align: center;
    }
</style>

<style>
    .jumbotron-special-small{
        width:100%;
        height: 180px;
        background-color:#B2CCFF;
        padding:0px;
        margin:0px;
        opacity: 0.7;
        text-align: center;
    }
</style>

<style>
    .jumbotron-special-dinner-nutrition{
        width:100%;
        height: 180px;
        background-color:#66A3FF;
        padding:0px;
        margin:0px;
        opacity: 0.7;
        text-align: center;
    }
</style>

{% endblock %}

{% block content %}


<body style="">
    <div class="container">
        <div class="jumbotron jumbotron-special">
            <p class="bottom-three">What's for Dinner</p>
            <form id='myform' method='POST' action='' role="form" class="form-inline form-small">
                <h2>What have you eaten today?</h2>
                    <div class='form-group'>
                        <td><label class="control-label" for="consumed_calories">Calories</label></td>
                        <td><label class="control-label" for="consumed_carbohydrates">Carbs (g)</label></td>
                        <td><label class="control-label" for="consumed_fat">Fat (g)</label></td>
                        <td><label class="control-label" for="consumed_protein">Protein (g)</label></td>
                        <td><label class="control-label" for="consumed_sugar">Sugar (g)</label></td>
                        <td><label class="control-label" for="consumed_fiber">Fiber (g)</label></td>
                    </div>
                    <div class='form-group'>                  
                        <input class="" type="number" step="any" min="0" placeholder="Calories" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top; background-color: transparent; " dir="auto" name='consumed_calories' id='consumed_calories' value={{nutrition_data[0]}}>
                        <input class="" type="number" step="any" min="0" placeholder="Carbs (g)" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top; background-color: transparent; " dir="auto" name='consumed_carbohydrates' id='consumed_carbohydrates' value={{nutrition_data[1]}}>
                        <input class="" type="number" step="any" min="0" placeholder="Fat (g)" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top; background-color: transparent; " dir="auto" name='consumed_fat' id='consumed_fat' value={{nutrition_data[2]}}>
                        <input class="" type="number" step="any" min="0" placeholder="Protein (g)" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top; background-color: transparent; " dir="auto" name='consumed_protein' id='consumed_protein' value={{nutrition_data[3]}}>
                        <input class="" type="number" step="any" min="0" placeholder="Sugar (g)" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top; background-color: transparent; " dir="auto" name='consumed_sugar' id='consumed_sugar' value={{nutrition_data[4]}}>
                        <input class="" type="number" step="any" min="0" placeholder="Fiber (g)" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top; background-color: transparent; " dir="auto" name='consumed_fiber' id='consumed_fiber' value={{nutrition_data[5]}}>
                    </div>
                <h2>What's your daily nutrition goal?</h2>
                    <div class='form-group'>
                        <label class="control-label" for="consumed_calories">Calories</label>
                        <label class="control-label" for="consumed_carbohydrates">Carbs (g)</label>
                        <label class="control-label" for="consumed_fat">Fat (g)</label>
                        <label class="control-label" for="consumed_protein">Protein (g)</label>
                        <label class="control-label" for="consumed_sugar">Sugar (g)</label>
                        <label class="control-label" for="consumed_fiber">Fiber (g)</label>
                    </div>
                    <div class='form-group'>  
                        <input class="" type="number" step="any" min="0" placeholder="Calories [2000]" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top; background-color: transparent; " dir="auto" name='goal_calories' id='goal_calories' value={{goal_nutrition_data[0]}}>
                        <input class="" type="number" step="any" min="0" placeholder="Carbs (g) [245]" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top; background-color: transparent; " dir="auto" name='goal_carbohydrates' id='goal_carbohydrates' value={{goal_nutrition_data[1]}}>
                        <input class="" type="number" step="any" min="0" placeholder="Fat (g) [65]" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top; background-color: transparent; " dir="auto" name='goal_fat' id='goal_fat' value={{goal_nutrition_data[2]}}>
                        <input class="" type="number" step="any" min="0" placeholder="Protein (g) [98]" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top; background-color: transparent; " dir="auto" name='goal_protein' id='goal_protein' value={{goal_nutrition_data[3]}}>
                        <input class="" type="number" step="any" min="0" placeholder="Sugar (g) [74]" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top; background-color: transparent; " dir="auto" name='goal_sugar' id='goal_sugar' value={{goal_nutrition_data[4]}}>
                        <input class="" type="number" step="any" min="0" placeholder="Fiber (g) [38]" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top; background-color: transparent; " dir="auto" name='goal_fiber' id='goal_fiber' value={{goal_nutrition_data[5]}}>
                    </div>
               
                <p></p>
                <p>
                    <input id='mybutton' class="btn btn-success" type='submit' value="What's for Dinner?">
                </p>
            </form>
        </div>
    </div> 
</body>


{% if dinner_nutrition_target[0] %}
<body style="">
    <div class="container">
        <div class="jumbotron jumbotron-special-small">
            <div class="col-xs-12">
                <h2 class="sub-header">Dinner nutrition target</h2>
                <div class="table-responsive">
                    <table class="table table-striped" align="center">
                        <thead>
                            <tr>
                                <th><div class="text-center">Calories</div></th>
                                <th><div class="text-center">Carbs (g)</div></th>
                                <th><div class="text-center">Fat (g)</div></th>
                                <th><div class="text-center">Protein (g)</div></th>
                                <th><div class="text-center">Sugar (g)</div></th>
                                <th><div class="text-center">Fiber (g)</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            <td><div class="text-center">{{dinner_nutrition_target[0]}}</div></td>
                            <td><div class="text-center">{{dinner_nutrition_target[1]}}</div></td>
                            <td><div class="text-center">{{dinner_nutrition_target[2]}}</div></td>
                            <td><div class="text-center">{{dinner_nutrition_target[3]}}</div></td>
                            <td><div class="text-center">{{dinner_nutrition_target[4]}}</div></td>
                            <td><div class="text-center">{{dinner_nutrition_target[5]}}</div></td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

{% endif %}




<body style="">
    <div class="container">
        <div class="col-xs-6">
            <h2 class="sub-header">Generated dinner score {{ dinner_simple_score }}</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Food Item</th>
                            <th>Portion</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for line in data %}
                        <tr>
                        {% for col in line %}
                            <td>{{col}}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %} 
                    </tbody>
                </table>
          </div>
        </div>
        <div class="col-xs-6">
            <h2 class="sub-header">Best historical dinner score {{ hist_dinner_simple_score }}</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Food Item</th>
                            <th>Portion</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for line in hist_data %}
                        <tr>
                        {% for col in line %}
                            <td>{{col}}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>







<body style="">
    <div class="container">
        <div class="jumbotron jumbotron-special-dinner-nutrition">
            <div class="col-xs-6">
                <h2 class="sub-header">Generated dinner nutrition</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Calories</th>
                                <th>Carbs (g)</th>
                                <th>Fat (g)</th>
                                <th>Protein (g)</th>
                                <th>Sugar (g)</th>
                                <th>Fiber (g)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td><font color="{{dinner_colors[0]}}">{{dinner_nutrition_data[0]}}</font></td>
                            <td><font color="{{dinner_colors[1]}}">{{dinner_nutrition_data[1]}}</font></td>
                            <td><font color="{{dinner_colors[2]}}">{{dinner_nutrition_data[2]}}</font></td>
                            <td><font color="{{dinner_colors[3]}}">{{dinner_nutrition_data[3]}}</font></td>
                            <td><font color="{{dinner_colors[4]}}">{{dinner_nutrition_data[4]}}</font></td>
                            <td><font color="{{dinner_colors[5]}}">{{dinner_nutrition_data[5]}}</font></td>
                        </tbody>
                    </table>
              </div>
            </div>
            <div class="col-xs-6">
                <h2 class="sub-header">Best historical dinner nutrition</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Calories</th>
                                <th>Carbs (g)</th>
                                <th>Fat (g)</th>
                                <th>Protein (g)</th>
                                <th>Sugar (g)</th>
                                <th>Fiber (g)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td><font color="{{hist_dinner_colors[0]}}">{{hist_dinner_nutrition_data[0]}}</font></td>
                            <td><font color="{{hist_dinner_colors[1]}}">{{hist_dinner_nutrition_data[1]}}</font></td>
                            <td><font color="{{hist_dinner_colors[2]}}">{{hist_dinner_nutrition_data[2]}}</font></td>
                            <td><font color="{{hist_dinner_colors[3]}}">{{hist_dinner_nutrition_data[3]}}</font></td>
                            <td><font color="{{hist_dinner_colors[4]}}">{{hist_dinner_nutrition_data[4]}}</font></td>
                            <td><font color="{{hist_dinner_colors[5]}}">{{hist_dinner_nutrition_data[5]}}</font></td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>




{% endblock %}
