{% extends "layout/base.html" %}

{% block head %}
<style>
    body {
        overflow-y: auto;
    }
    #top {
        margin-top: 60px;
    }
</style>

<style>
  .bottom-three {
     margin-top: 0.0cm;
  }
</style>

<style>
    .form-small .control-label {
        width: 154px;
    }
</style>

<style>
    .jumbotron-title{
        width:100%;
        height: 360px;
        background-color:#E6FFFE;
        padding:40px;
        margin:0px;
        opacity: 1;
        text-align: center;
    }
</style>

<style>
    .jumbotron-special{
        width:100%;

        padding:0px;
        margin:0px;
        opacity: 1;
        text-align: center;
    }
</style>

<style>
    .jumbotron-special-small{
        width:100%;
        height: 160px;
        background-color:#B2CCFF;
        padding:0px;
        margin:0px;
        opacity: 1;
        text-align: center;
    }
</style>

<style>
    .jumbotron-special-small-error{
        width:100%;
        height: 120px;
        background-color:#B2CCFF;
        padding:0px;
        margin:0px;
        opacity: 1;
        text-align: center;
    }
</style>

<style>
    .jumbotron-special-dinner-nutrition{
        width:100%;
        height: 212px;
        background-color:#FFEBCC;
        padding:0px;
        margin:0px;
        opacity: 1;
        text-align: center;
    }
</style>

<style>
.btn-custom {
  background-color: hsl(280, 100%, 72%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8eaff", endColorstr="#cf70ff");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f8eaff), to(#cf70ff));
  background-image: -moz-linear-gradient(top, #f8eaff, #cf70ff);
  background-image: -ms-linear-gradient(top, #f8eaff, #cf70ff);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8eaff), color-stop(100%, #cf70ff));
  background-image: -webkit-linear-gradient(top, #f8eaff, #cf70ff);
  background-image: -o-linear-gradient(top, #f8eaff, #cf70ff);
  background-image: linear-gradient(#f8eaff, #cf70ff);
  border-color: #cf70ff #cf70ff hsl(280, 100%, 66%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.39);
  -webkit-font-smoothing: antialiased;
}
</style>

{% endblock %}

{% block content %}

{%if not create_dinners_flag %}

    <body style="">
        <div class="container-fluid">
            <div class="jumbotron jumbotron-title">
                <h1>What's for Dinner</h1>
                <img src="{{ url_for('static', filename='checkmark_logo_transparent.png') }}" />
                <h3>Enter your consumed calories estimate & pick a cuisine, then WFD will generate a dinner composition to help you meet standard daily nutrition goals.</h3>
            </div>
        </div> 
    </body>

{% endif %}

<body style="">
    <div class="container-fluid">
        <div class="jumbotron jumbotron-special">
            {%if create_dinners_flag %}
                <p class="bottom-three">What's for Dinner</p>
            {% endif %}
            <form id='myform' method='POST' action='' role="form" class="form-inline form-small">
                
                <div class="row">
                    <div class="col-xs-12">
                        <h2>How many calories have you eaten today, and what's your goal?</h2>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-xs-3">
                        <div class="input-group">
                        </div>
                    </div>
                    <div class="col-xs-3"> 
                        <div class="input-group">    
                            <input class="form-control" type="number" step="any" min="0" placeholder="Consumed Calories" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top; background-color: #FFFFF; padding: 0px 0px;font-size: 22px;" dir="auto" name='consumed_calories' id='consumed_calories' value={{consumed_calories}}>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="input-group">
                            <input class="form-control" type="number" step="any" min="0" placeholder="Calorie Goal" autocomplete="off" spellcheck="false" style="position: relative; vertical-align: top; background-color: #FFFFF; padding: 0px 0px; font-size: 22px;" dir="auto" name='calories_goal' id='calories_goal' value={{calories_goal}}>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="input-group">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <select name='cuisine_choice' id='cuisine_choice' class="form-control">
                        {% if cuisine_choice == "r" %}
                            <option value="r" selected="selected">Surprise Cuisine!</option>
                        {% else %}
                            <option value="r">Surprise Cuisine!</option>
                        {% endif %}
                        {% if cuisine_choice == "c" %}
                            <option value="c" selected="selected">Classic American</option>
                        {% else %}
                            <option value="c">Classic American</option>
                        {% endif %}
                        {% if cuisine_choice == "as" %}
                            <option value="as" selected="selected">American Southern</option>
                        {% else %}
                            <option value="as">American Southern</option>
                        {% endif %}
                        {% if cuisine_choice == "i" %}
                            <option value="i" selected="selected">Italian + Salad</option>
                        {% else %}
                            <option value="i">Italian + Salad</option>
                        {% endif %}
                        {% if cuisine_choice == "a" %}
                            <option value="a" selected="selected">Asian</option>
                        {% else %}
                            <option value="a">Asian</option>
                        {% endif %}
                        {% if cuisine_choice == "m" %}
                            <option value="m" selected="selected">Mexican</option>
                        {% else %}
                            <option value="m">Mexican</option>
                        {% endif %}
                        {% if cuisine_choice == "s" %}
                            <option value="s" selected="selected">Seafood</option>
                        {% else %}
                            <option value="s">Seafood</option>
                        {% endif %}
                        {% if cuisine_choice == "b" %}
                            <option value="b" selected="selected">Breakfast for Dinner</option>
                        {% else %}
                            <option value="b">Breakfast for Dinner</option>
                        {% endif %}
                        {% if cuisine_choice == "h" %}
                            <option value="h" selected="selected">Historical Dinners</option>
                        {% else %}
                            <option value="h">Historical Dinners</option>
                        {% endif %}
                    </select>
                    <input id='mybutton' class="btn btn-custom" type='submit' value="What's for Dinner?" style="font-size: 22px;"> <img src="{{ url_for('static', filename='WFD_logo_very_small.png') }}" />
                </div>
            </form>
        </div>
    </div> 
</body>




{%if create_dinners_flag %}

    {% if dinner_nutrition_target[0] %}
    <body style="">
        <div class="container-fluid">
            <div class="jumbotron jumbotron-special-small">
                <div class="col-xs-1">
                </div>
                <div class="col-xs-10">
                    <h3 class="sub-header">Dinner nutrition target</h3>
                    <div class="table-responsive">
                        <table class="table table-striped" align="center">
                            <thead>
                                <tr>
                                    <th><div class="text-center">Calories</div></th>
                                    <th><div class="text-center">Carbs (g)</div></th>
                                    <th><div class="text-center">Fat (g)</div></th>
                                    <th><div class="text-center">Protein (g)</div></th>
                                    <th><div class="text-center">Sugar (g)</div></th>
                                    <th><div class="text-center">Fiber (g)</div></th>
                                </tr>
                            </thead>
                            <tbody>
                                <td><div class="text-center">{{dinner_nutrition_target[0]}}</div></td>
                                <td><div class="text-center">{{dinner_nutrition_target[1]}}</div></td>
                                <td><div class="text-center">{{dinner_nutrition_target[2]}}</div></td>
                                <td><div class="text-center">{{dinner_nutrition_target[3]}}</div></td>
                                <td><div class="text-center">{{dinner_nutrition_target[4]}}</div></td>
                                <td><div class="text-center">{{dinner_nutrition_target[5]}}</div></td>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-1">
                </div>
            </div>
        </div>
    </body>

    {% endif %}




    <body style="">
        <div class="container-fluid">
            <div class="col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Food Item</th>
                                <th>Portion</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for line in data %}
                            <tr>
                            {% for col in line %}
                                <td>{{col}}</td>
                            {% endfor %}
                            </tr>
                        {% endfor %} 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>


    <div class="container-fluid">
        <div class="jumbotron jumbotron-special-dinner-nutrition">
        <div class="col-xs-1">
        </div>
            <div class="col-xs-10">
                <h3 class="sub-header">Dinner nutrition, match = 
                {% if int_dinner_simple_score==0 %}
                    <font color="9B8772">0</font>
                {% else %}
                    {% for n in range(int_dinner_simple_score) %}
                        <img src="{{ url_for('static', filename='beef_24px.png') }}" />
                    {% endfor %}
                    {% if half_score_flag %}
                        <img src="{{ url_for('static', filename='beef_half_24px.png') }}" />
                    {% endif %}
                {% endif %}
                <font color="9B8772">/ 5</font>
                </h3>
                <div class="table-responsive">
                    <table class="table table-striped" align="center">
                        <thead>
                            <tr>
                                <th><div class="text-center">Calories</div></th>
                                <th><div class="text-center">Carbs (g)</div></th>
                                <th><div class="text-center">Fat (g)</div></th>
                                <th><div class="text-center">Protein (g)</div></th>
                                <th><div class="text-center">Sugar (g)</div></th>
                                <th><div class="text-center">Fiber (g)</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            <td><font color="{{dinner_colors[0]}}">{{dinner_nutrition_data[0]}}</font></td>
                            <td><font color="{{dinner_colors[1]}}">{{dinner_nutrition_data[1]}}</font></td>
                            <td><font color="{{dinner_colors[2]}}">{{dinner_nutrition_data[2]}}</font></td>
                            <td><font color="{{dinner_colors[3]}}">{{dinner_nutrition_data[3]}}</font></td>
                            <td><font color="{{dinner_colors[4]}}">{{dinner_nutrition_data[4]}}</font></td>
                            <td><font color="{{dinner_colors[5]}}">{{dinner_nutrition_data[5]}}</font></td>
                        </tbody>
                    </table>
              </div>
            </div>
        <div class="col-xs-1">
        </div>
        </div>
    </div>

{% else %}

    <body style="">
        <div class="container-fluid">
            <div class="col-xs-12 text-center">
                <h2 class="sub-header"><font color="red">{{ error_text }}</font></h2>
            </div>
        </div>
    </body>

{% endif %}



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52132540-1', 'whatsfordinner.us');
  ga('send', 'pageview');

</script>

{% endblock %}


{% block footer %}
    {% include "include/footer.html" %}
{% endblock %}