{% extends "layout/base.html" %}

{% block head %}
  <style>
    body {
      overflow-y: auto;
    }
    #top {
      margin-top: 60px;
    }
  </style>
{% endblock %}

{% block content %}
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div id="top" class="container marketing">

    <form action="" method="post" name="user_previous_consumed_nutrition">
        <p>
            Please enter your previously-consumed nutrition:<br>

        <table style="undefined;table-layout: fixed; width: 640px">
        <colgroup>
        <col style="width: 43px">
        <col style="width: 90px">
        <col style="width: 110px">
        <col style="width: 75px">
        <col style="width: 104px">
        <col style="width: 104px">
        <col style="width: 103px">
        </colgroup>
          <tr>
            <th></th>
            <th>Calories</th>
            <th>Carbs (g)</th>
            <th>Fat (g)</th>
            <th>Protein (g)</th>
            <th>Sugar (g)</th>
            <th>Fiber (g)</th>
          </tr>
          <tr>
            <td>Goal:</td>
            <td>2000</td>
            <td>245</td>
            <td>65</td>
            <td>98</td>
            <td>74</td>
            <td>38</td>
          </tr>
        </table>
        
            <h2>{{form.user_previous_consumed_nutrition(size=40)}}<br></h2>
        </p>
        <p>{{form.random_dinner_flag}} Random meal combination!</p>
        <p><input type="submit" value="WFD"></p>
    </form>

    <p>{{error_text}}</p>

    <div class="panel-body" style="height:inherit; overflow:auto;">          
            {%for line in data%}
			<br>{{line}}<br>
			{% endfor %}
    </div>
    
    {% if dinner_nutrition_data %}
        <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
        .tg .tg-s6z2{text-align:center}
        .tg .tg-huh2{font-size:14px;text-align:center}
        </style>
        <table class="tg" style="undefined;table-layout: fixed; width: 616px">
        <colgroup>
        <col style="width: 90px">
        <col style="width: 129px">
        <col style="width: 77px">
        <col style="width: 107px">
        <col style="width: 107px">
        <col style="width: 106px">
        </colgroup>
          <tr>
            <th class="tg-s6z2">Calories</th>
            <th class="tg-s6z2">Carbs (g)</th>
            <th class="tg-s6z2">Fat (g)</th>
            <th class="tg-s6z2">Protein (g)</th>
            <th class="tg-s6z2">Sugar (g)</th>
            <th class="tg-s6z2">Fiber (g)</th>
          </tr>
          <tr>
            <td class="tg-031e">{{dinner_nutrition_data[0]}}</td>
            <td class="tg-031e">{{dinner_nutrition_data[1]}}</td>
            <td class="tg-031e">{{dinner_nutrition_data[2]}}</td>
            <td class="tg-031e">{{dinner_nutrition_data[3]}}</td>
            <td class="tg-031e">{{dinner_nutrition_data[4]}}</td>
            <td class="tg-031e">{{dinner_nutrition_data[5]}}</td>
          </tr>
        </table>
    {% endif %}
    
    <!-- FOOTER -->

<style>
  .bottom-three {
     margin-bottom: 3cm;
  }
</style>

<p class="bottom-three">

    <footer>
      <p class="pull-right"></p>
      <p>&copy; Christopher Klein </p>
    </footer>

  </div><!-- /.container -->
{% endblock %}
