{% extends "layout/base.html" %}

{% block head %}
  <link href="{{ url_for('static', filename='vendor/hakimel-reveal.js-131c006/css/theme/default.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="reveal">
<div class="slides">
    <section class="" data-id="55a64703b458032d39d3fe1d5fa9f319">
        <h1>
<span>What's For Dinner</span>
        <br>
</h1>
<div>Recommending dinners to fit your nutritional goals.</div>
<div>
        <br>
    </div>
<div>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/ckleinastro/images/480542/checkmark_logo_transparent.png" style="width: 143.40493674245775px; height: 143.40493674245775px; max-height: none; max-width: none;">
    <br>
</div>
<div>
    <br>
    </div>
<div>Christopher Klein</div>
</section>
<section class="" data-id="4c620920830f9eaa6351e659ac507947">
    <h2>Calorie Counting&nbsp;</h2>
<div>
    <br>
</div>
<div>
<img src="https://s3.amazonaws.com/media-p.slid.es/uploads/ckleinastro/images/480546/calorie_counting.png">
<br>
</div>
<div>Would like a recommended dinner to meet calorie goals</div>
</section>
<section class="" data-id="30da21efff228e27acb589e68842c81e">
    <h2>Calorie Counting</h2>
<div>
    <br>
</div>
<div style="text-align: left; position: absolute; width: 727px; height: 361px; z-index: 5; left: 105px; top: 168px; max-height: none; max-width: none;" class="absolute-element">
<ul>
<li>Problem solution is naively simple</li>
<ul>
    <li>Filling a knapsack</li>
</ul>
<li>Naive solution leads to awkward dinners</li>
<ul>
    <li>Marshmallows with haddock and pancakes</li>
</ul>
</ul>
</div>
<br>
</section>
</div>
</div>

{% endblock %}

{% block footer %}
    {% include "include/footer.html" %}
{% endblock %}
